{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>Coffeeshop {% if coffeeshop.owner_id %} <span class="badge badge-danger">CSR User</span> {% endif %}
            </h1>
            <h2>{{ coffeeshop.name }}</h2>
            <p>{{ coffeeshop.summary }}</p>

            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Our Reviews for this coffee shop.</h3>
        </div>
        {% for review in reviews %}
            <div class="col-12 col-md-6 py-1 mb-4">
                <div class="border border-secondary shadow-lg p-4">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <h4 style="text-overflow: ellipsis;">{{ review.title }}</h4>
                            <a href="/?page=review&revid={{ review.id }}"><span
                                        class="badge badge-info">Read full review</span></a>
                        </div>

                        <div class="d-flex flex-row justify-content-around py-4">
                            <div class="">
{#                                <span class="pr-2">Rating</span>#}
                                {% for i in 1..review.rating %}
                                    <span class="mr-1 rating_icon"><i class="fas fa-mug-hot"></i></span>
                                {% endfor %}
                            </div>
                            <div class="">
{#                                <span class="pr-2">Expense</span>#}
                                {% for i in 1..review.expense %}
                                    <span class="mr-1 rating_icon"><i class="fas fa-euro-sign"></i></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="float-md-left">What the costumer says:</h3>
            <button id="toggle_add_comment" class="btn btn-outline-info float-md-right">Toggle to add Comment</button>
        </div>
        {% for comment in comments %}
            <div class="col-6 shadow-sm py-2 mb-3">
                <div class="media">
                    <div class="media-body">
                        <p>{{ comment.message }}</p>
                        <h5 class="mt-0">{{ comment.name }}</h5>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>currently there are no comments about this Coffee Shop</p>
            </div>
        {% endfor %}
        <div class="col-12 hidden" id="add_comment_form_wrapper">
            <form action="/?page=submit_comment" method="post">
                <input type="hidden" id="add_comment_csid" name="comment_csid" value="{{ coffeeshop.id }}">
                <textarea class="w-100 py-3 px-2 border border-light shadow-sm mb-3" placeholder="add you comment here"
                          id="add_comment_message" name="comment_message" required></textarea>
                <div class="form-group float-right">
                    <label for="">Your name</label>
                    <input class="py-1 px-2 border border-light shadow-sm" type="text" max="50"
                           id="add_comment_person_name" name="comment_person_name">
                </div>
                <button class="btn btn-success" type="submit">Submit Comment</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('#toggle_add_comment').click(function () {
            $('#add_comment_form_wrapper').toggleClass('hidden');
        });
    </script>
{% endblock %}