{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h2>Coffeeshops :</h2>
        </div>

        {% for cs in coffeeshop_list %}
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                <div class="card mb-4 shadow-sm {% if cs.owner_id %} bg-success text-light {% endif %}">
                    <img src="img/default.jpg" class="card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>{{ cs.name }}</h3>
                        {#<p class="card-text">{{ cs.summary }}</p>#}
                        <p>Avg Rating: {{ cs.getAverageRating() }} Avg Expense: {{ cs.getAverageExpense() }}</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <a href="/?page=shop&csid={{ cs.id }}" class="btn btn-sm btn-primary">View</a>
                                {% if session.user_id %}
                                    {% if cs.getOwner().getUserId() == session.user_id %}
                                        <a href="" class="btn btn-sm btn-primary">Edit</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {#<small class="text-muted"></small>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}