{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col my-2 my-md-4">
            <h1>Home</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h2>Reviews :</h2>
        </div>

        {% for review in reviews_list %}
            <div class="col-12 border border-secondary shadow-sm py-1 mb-4">
                <h3>{{ review.title }}</h3>
                <p>{{ review.review }} <a href="/?page=review&reviewId={{ review.id }}"><span class="badge badge-info">Read full review</span></a>
                </p>
                <p>
                    <span class="pr-2">Rating ({{ review.rating }}) :</span>
                    {% for i in 1..review.rating %}
                        <span class="mr-1"><i class="fas fa-mug-hot"></i></span>
                    {% endfor %}
                </p>
                <p>
                    <span class="pr-2">Expense ({{ review.expense }}) : </span>
                    {% for i in 1..review.expense %}
                        <span class="mr-1"><i class="fas fa-euro-sign"></i></span>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}