{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col my-2 my-md-4">
            <h1>Home</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h2>Coffeeshops :</h2>
        </div>

        {% for cs in coffeeshop_list %}
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                <div class="card mb-4 shadow-sm {% if cs.pc %} bg-success text-light {% endif %}">
                    <img src="img/default.jpg" class="card-img-top" width="100%" height="225">
                    <div class="card-body">
                        <h3>{{ cs.sc.name }}</h3>
                        <p class="card-text">{{ cs.sc.summary }}</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <a href="/?page=shop&csid={{ cs.sc.id }}" class="btn btn-sm btn-primary">View</a>
                                {% if session.user_id %}
                                    {% if cs.pc.getOwnerId() == session.user_id %}
                                        <a href="" class="btn btn-sm btn-primary">Edit</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {#<small class="text-muted"></small>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="row">
        <div class="col-12">
            <h2>Reviews :</h2>
        </div>

        {% for review in reviews_list %}
            <div class="col-12 border border-secondary shadow-sm py-1 mb-4">
                <h3>{{ review.title }}</h3>
                <p>{{ review.review }} <a href="/?page=review&revid={{ review.id }}"><span class="badge badge-info">Read full review</span></a>
                </p>
                <p>
                    <span class="pr-2">Rating ({{ review.rating }}) :</span>
                    {% for i in 1..review.rating %}
                        <span class="mr-1"><i class="fas fa-mug-hot"></i></span>
                    {% endfor %}
                </p>
                <p>
                    <span class="pr-2">Expense ({{ review.expense }}) : </span>
                    {% for i in 1..review.expense %}
                        <span class="mr-1"><i class="fas fa-euro-sign"></i></span>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}